<!-- <button class="button btn-info" *ngIf='showFile' (click)='showFiles(false)'>Hide Files</button> -->

<!-- <button class="button btn-info" *ngIf='!showFile' (click)='showFiles(true)'>Show Files</button> -->

<!-- <div [hidden]="!showFile">
  <div class="panel panel-primary">
    <div class="panel-heading">List of Files</div>
    <div *ngFor="let file of fileUploads | async">
      <div class="panel-body">
        <details-upload [fileUpload]='file'></details-upload>
      </div>
    </div>
  </div>
</div> -->

<div [hidden]="!showFile">
  <div class="panel panel-primary">
    <div class="panel-heading">List of Files</div>
    <div *ngFor="let file of files">
      <div class="panel-body">
        <details-upload [fileUpload]='file'></details-upload>
      </div>
    </div>
  </div>
</div>

<button class="button btn-info" *ngIf="showLoadMore" (click)='loadFiles(true)'>Load more...</button>